.btn-next {
    background-color: black;
    color: red;
}

.btn-back {
    background-color: black;
    color: red;
}

.bl-btn {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}